<div id="top" class="top">
	<div id="left" class="left"><a href="javascript:;">中国(简体中文/CNY)</a></div>
	<div id="right" class="right"><a href="javascript:;"><p>隐私政策 &nbsp;&nbsp;|&nbsp;&nbsp; 用户协议 &nbsp;&nbsp;|&nbsp;&nbsp; 安全问题反馈</p></a></div>
</div>
	<div id="bottom" class="bottom">
	<div id="left" class="left">
		<p>© 2013-2018 OnePlus. All Rights Reserved. (粤ICP备13080605号-4)</p> <br>
		<a href="javascript:;">粤公网安备 44030402001407号</a>
		</div>
	<div id="right" class="right"><a href="javascript:;"><img src="/images/one/cnnic.png"></a></div>
</div>